/* Predmets */
span.znach {
    border: 1px solid #ccc;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    width: 90%;
}

.hidden {
    display: none;
}

/* Удалить ДЗ */
.deleteDZ {
    background: red; 
    color: white; 
    padding: 8px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    margin-top: -2.2em;
}

.button_delete {
    position: relative;
}