/* Predmets */
span.znach {
    border: 1px solid #ccc;
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    width: 90%;
}

.hidden {
    display: none;
}

/* Удалить ДЗ */
.deleteDZ {
    float: right; 
    margin: -31px 3px 0 0; 
    background: red; color: 
    white; 
    padding: 8px
}